@import url("https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap");

:root {
  --sftgrn: #f4fce8;
  --frggrn: #c3ff68;
  --smrdrm: #87d69b;
  --stmspr: #4e9689;
  --drmblu: #7ed0d6;
}

p {
  text-align: justify !important;
}

html {
  height: 100%;
}

body {
  background-image: url("./assets/229868_preview\ \(1\).png");
  background-position: bottom right !important;
  background-repeat: no-repeat;
  font-family: "Josefin Sans", sans-serif !important;
}

.full-card {
  width: 87.2% !important;
  margin-top: 25px !important;
  margin-left: 50px !important;
  padding: 15px !important;
  line-height: 1.5;
}

.btn {
  font-size: 1.1em !important;
  border-radius: 10px !important;
  padding: 10px !important;
  border: 2px solid !important;
  font-weight: bold !important;
  transition: 1s !important;
  margin: 15px !important;
}

.btn:hover {
  transition: 1s !important;
  border: 2px solid !important;
}

.lbl {
  width: 70px;
  padding: 5px;
  display: inline-block;
  text-align: right;
}

.x-btn {
  border-radius: 15px;
  width: 25px;
  height: 13px !important;
  text-align: center;
  padding: 6px 0px;
  font-size: 12px;
  text-decoration: none;
  float: right;
}

.x-btn:hover {
  font-weight: bold;
}

.section-box {
  padding: 100px !important;
  display: block !important;
  padding-left: 250px !important;
}

.section-hdr {
  margin-top: 50px !important;
  margin-left: 50px !important;
}

h1 {
  font-size: 3em !important;
  font-style: italic;
  letter-spacing: 5px;
  line-height: 80% !important;
}

.subnav {
  font-size: 1.3em !important;
  border-radius: 10px !important;
  padding: 15px !important;
  /* border: 2px solid var(--wht) !important; */
  font-weight: bold !important;
  width: 90% !important;
}

.subnav a {
  text-decoration: none !important;
  width: 30% !important;
  display: inline-block !important;
  transition: 1s !important;
}

.subnav a:hover {
  letter-spacing: 1.5px !important;
  transition: 1s !important;
}

h4 {
  font-weight: bold !important;
  font-size: 1.5em !important;
  line-height: 50%;
  margin-top: 15px;
}

.navbar {
  width: 100% !important;
  height: 100px !important;
  position: fixed !important;
  background-image: url('./assets/hiclipart.com.png');
  background-repeat: no-repeat;
  background-size: 150px ;
  top: 0px !important;
  left: 0px !important;
  border-bottom: 10px solid !important;
  text-transform: uppercase !important;
}

.navbar h3 {
  margin-top: 40px !important;
  margin-left: 110px !important;
  font-size: 1.3em !important;
  letter-spacing: 2px !important;
  display: inline-block;
}

td {
  padding-right: 200px;
}

.side-nav {
  position:fixed !important;
  left:0px !important;
  top:110px !important;
  height:100% !important;
  width:250px !important;
}
.side-nav .navitem {
  width:200px !important;
  padding:25px !important;
  transition:1s !important;
}
.side-nav a {
  text-decoration:none !important;
  color:var(--wht) !important;
}
.side-nav .navitem:hover {
  font-weight:bold !important;
  letter-spacing:1px !important;
  transition: 1s !important;
}

.mainsearch {
  float:right;
  padding-right: 30px;
  padding-top: 40px;
  min-width:250px;
  border-radius:5px;
}
.mainsearch .res {
  border-radius:5px;
  padding:5px;
}
.mainsearch .res :link {
  text-decoration:none;
}
